[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
artifacts/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
.DS_Store
*.app
*.ipa
*.apk
*.aab
TestResults/
*.log
